<?xml version="1.0" encoding="ISO-8859-1"?>
<rss version="2.0">
    <channel>
        <title>Guide</title>
        <link>{{ url('endroid_guide_rss') }}</link>
        <description>Guide</description>
        <language>en-us</language>
        <copyright>Copyright (C) {{ 'now'|date('Y') }} Endroid</copyright>
        {% for show in shows %}
            {% for result in show.results %}
                {% if result.color != 'warning' %}
                    <item>
                        <title>Guide: {{ show.label }} - {{ result.label }}</title>
                        <link>{{ result.url }}</link>
                        <guid>{{ result.guid }}</guid>
                    </item>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </channel>
</rss>
