{% extends '@EndroidGuide/layout.html.twig' %}

{% block content %}

    <h1>Guide</h1>

    {% for show in shows %}

        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    {% if show.url is defined %}<a href="{{ show.url }}" target="_blank">{% endif %}
                    <strong>{{ show.label }} ({{ show.duration }} ms) {% if "guide" in show|keys %}<a href="{{ show.guide }}" target="_blank" style="color: #000;"><span class="glyphicon glyphicon-link"></span></a>{% endif %}</strong>
                    {% if show.url is defined %}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>

                    {% for result in show.results %}

                        <a href="{{ result.url }}" class="btn btn-{{ result.color }} btn-sm" style="margin: 5px 0px;" target="_blank">{{ result.label }}</a>

                    {% else %}

                        &nbsp; No results

                    {% endfor %}

                </td>
            </tr>
        </table>

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ preload(asset('/build/dashboard.js', 'endroid_guide')) }}"></script>
{% endblock %}